a { 
    text-decoration: none; 
    color: black;
}
strong {
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
}
i {
    font-style: normal;
    font-size: 15px;
}
.settingTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 107, 71, 0.15);
}
.settingTable thead tr {
    background-color: #009c7d;
    color: #ffffff;
    text-align: left;
}
.settingTable th,
.settingTable td {
    padding: 12px 15px;
}
.settingTable tbody tr {
    border-bottom: 1px solid #999999;
}
.settingTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.settingTable tbody tr:last-of-type {
    border-bottom: 2px solid #00755e;
}
header {  
    padding-left: 30px;
    font-size: 40px;
    font-weight: bold;
} 
.divTable {  
    padding-left: 20px;     
    padding-right: 20px;   
    float: left;         
} 
.equip th {
    width: 45px;
    text-align: center;
}
.equip td {
    width: 150px;
    text-align: center;                
}
.skill th {
    width: 150px;
    text-align: center;
}
.skill td {
    width: 30px;
    text-align: center;
    font-weight: bold;
}
.jewel {
    color: rgb(214, 0, 0);
}
.max {
    color: rgb(221, 103, 0);
}
.stat {
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px;
    border-color: #00755e;
    border-style: ridge;
    border-radius: 0px;                
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 107, 71, 0.15);
    width: 200px;    
    float: left;
}
.manual {
    font-weight: bold;
    margin-left: 3%;
    margin-bottom: 30px;
    margin-top: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px;
    border-color: #00755e;
    border-style: groove;
    border-radius: 10px;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 107, 71, 0.15);
    width: 94%; 
    max-width: 1020px;   
    float: left;
}